@import 'variables';
* {
    margin: 0;
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'media';
@import 'consultation';
@import 'title';
@import 'forms';